img {
  height: 165.66px;
  padding: '3px';
  padding: 15px;
}
.cards__item__img {
  
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .cards__item__img:hover {
    transform: scale(1.3);
  }
  
  li{
    list-style-type: none;
  }
  